.signUp {
  display: flex;
  height: 100vh;

  .background {
    flex: 1.7;
    background-color: #A32A29;
    color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;

    .img {
      @media (max-width: 768px) {
        display: none;
      }

      padding-top: 25px;
      padding-left: 158px;
    }
  }

  .login-logo {
    margin-bottom: 20px;
  }

  .signUp-form {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;

  }

  .signUp-form form {
    max-width: 400px;
    width: 100%;
  }

  .reg-responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mat-mdc-unelevated-button.mat-mdc-button-base {
    width: 250px;
    height: 53px;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;

    .background {
      order: 2;
      flex-basis: 30%;
      text-align: center;
      align-items: center;
    }

    .signUp-form {
      order: 1;
      flex-basis: 70%;
      text-align: center;
    }
  }
}
