<div class="signUp">
  <div class="background">
    <div>
      <h1>Find and Connect to Thousands of APIs</h1>
      <p>Enter your credentials to create an account.</p>
    </div>
    <div class="img">
      <img
        mat-card-image
        width="50%"
        src="../../../../assets/absurd.design - Chapter 1 - 32.png"
        alt="login-logo"
      />
    </div>
  </div>

  <div class="signUp-form">
    <!-- <div>
        <h3>Sign Up</h3>
      </div> -->
    <form
      [formGroup]="registerForm"
      (ngSubmit)="register()"
      class="reg-responsive"
    >
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input
          matInput
          placeholder="Placeholder"
          type="text"
          formControlName="username"
        />
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="Placeholder"
          type="email"
          formControlName="email"
        />
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          placeholder="******"
          [type]="passwordHidden ? 'password' : 'text'"
          formControlName="password"
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="togglePasswordVisibility('password')"
        >
          <mat-icon>{{
            passwordHidden ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          placeholder="******"
          [type]="confirmPasswordHidden ? 'password' : 'text'"
          formControlName="confirmPassword"
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="togglePasswordVisibility('confirmPassword')"
        >
          <mat-icon>{{
            confirmPasswordHidden ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
      </mat-form-field>

      <div>
        <button
          mat-flat-button
          color="primary"
          [disabled]="registerForm.invalid"
        >
          <span *ngIf="!signedIn">Register</span>
          <span *ngIf="signedIn">Signing In...</span>
        </button>
      </div>
    </form>
  </div>
</div>
