<section>
  <h4 class="header">Text Generation Models</h4>
  <div class="notice notice-primary has-body mt-2 mb-2">
    <div class="notice-message">
      <div class="notice-body">
        <div class="docs-samples-notice">
          <p><b>New capabilities launched at DevDay</b></p>
          Text generation models are now capable of
          <a href="/docs/guides/text-generation/json-mode">JSON mode</a> and
          <a href="/docs/guides/text-generation/reproducible-outputs"
            >Reproducible outputs</a
          >. We also launched the
          <a href="/docs/assistants/overview">Assistants API</a> to enable you
          to build agent-like experiences on top of our text-generation models.
          GPT-4 Turbo is available in preview by specifying
          <b>gpt-4-1106-preview</b> as the model name.
        </div>
      </div>
    </div>
  </div>
</section>
