<div class="login">
  <div class="background">
    <div>
      <h1>Find and Connect to Thousands of APIs</h1>
      <p>Enter your credentials to log in.</p>
    </div>
    <div class="img">
      <img
        mat-card-image
        width="50%"
        src="../../../../assets/absurd.design - Chapter 1 - 32.png"
        alt="login-logo"
      />
    </div>
  </div>

  <div class="login-form">
    <!-- <div>
      <h3>Sign In</h3>
    </div> -->
    <form
      [formGroup]="loginForm"
      (ngSubmit)="attemptLogin()"
      class="responsive"
    >
      <mat-form-field appearance="outline">
        <mat-label>Username or email</mat-label>
        <input
          matInput
          placeholder="submit your username"
          formControlName="username"
        />
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
      <div *ngIf="f['username'].invalid && submitted">
        <mat-error *ngIf="f['username'].errors?.['required']"
          >Username is required!</mat-error
        >
        <mat-error *ngIf="f['username'].errors?.['email']"
          >Provide a valid email!</mat-error
        >
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          placeholder="******"
          formControlName="password"
          type="password"
        />
        <mat-icon matSuffix>visibility_off</mat-icon>
      </mat-form-field>
      <div *ngIf="f['password'].invalid && submitted">
        <mat-error *ngIf="f['password'].errors?.['required']"
          >Password is required!</mat-error
        >
        <!-- <pre>{{ f["password"].errors | json }}</pre> -->
        <mat-error *ngIf="f['password'].errors?.['minlength']"
          >Provide at least 6 characters!</mat-error
        >
      </div>
      <div>
        <button mat-flat-button color="primary">Login</button>
      </div>
    </form>
  </div>
</div>
