@import '../../../../var';

// mat-grid-list {
//   padding-bottom: 0;
//   display: flex;

//   .content-container {
//     text-align: justify;
//   }
// }

mat-card-actions {
  padding: 20px 16px;
}

// mat-card-content {
//   padding-bottom: 20px;
// }

mat-card {
  padding: 16px;
}

// api list section
section {
  .api-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
    width: 100%;

    @media (max-width: 700px) {
      grid-template-columns: 1fr;
    }
  }

  .icon-item {
    display: flex;
    align-items: flex-start;
    border-radius: 6px;
    min-width: 0;
  }

  .icon-item-title {
    font-weight: 700;
    color: #221F1F;
    display: inline-block;
    margin-bottom: 2px;
    margin-top: 3px;
    transition: color .15s;
  }

  .icon-item-icon {
    flex: 0 0 auto;
    font-size: 24px;
    line-height: 0px;
    padding: 15px;
    border-radius: 8px;
  }

  .material-icons {
    color: #FFFFFF;

  }

  .icon-item-right {
    flex: 1 1 auto;
    min-width: 0;
    padding-left: 16px;
  }
}


// strategies
.strategies {
  margin-bottom: 40px;
}

.accord {
  background-color: $contrast-A100;
  border-radius: 5px;
  padding: 30px;
  margin-top: 90px;

  h3 {
    color: $contrast-A400;
  }

  p {
    color: $contrast-800;
  }
}

.container {
  display: flex;
  gap: 25px;
  margin: 25px 0 25px;

  .content-side {
    flex: 4;
    text-align: justify;
  }

  .card-side {
    flex: 2;
  }

  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.api-monetization-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  opacity: 0;
  /* Start with 0 opacity */
  animation: fadeIn 1s ease-out forwards;

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.api-image {
  max-width: 100%;
}

.api-paragraph {
  text-align: justify;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
