mat-toolbar {
  background-color: #FFFFFF;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1)
}



.mat-toolbar-row {
  padding: 0 10%;
  justify-content: space-between
}


.spacer {
  display: flex;
  gap: 12px;
  justify-content: space-between
}
