mat-toolbar {
  background-color: #FFFFFF;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  // margin: 0 auto;
  // max-width: 1280px;

  .mat-toolbar-row {
    padding: 0 10%;
    justify-content: space-between;

    .spacer {
      display: flex;
      gap: 12px;
      justify-content: space-between;
    }
  }
}

// 
