section {
  margin-top: 64px;
}

.discover-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  width: 100%;

  @media (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 900px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

mat-card {
  height: 240px;
}

mat-card-title {
  font-size: medium;
  font-weight: 500;
}

mat-card-header {
  display: flex;
  justify-content: space-between;
}

mat-card-content {
  margin-top: var(--spacing-8);
  margin-bottom: var(--spacing-8);
  flex-basis: 89px;
  overflow: hidden;
  flex-grow: 1;
  position: relative;

  .p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    overflow: hidden;
  }

}


mat-card-actions {
  display: flex;
  justify-content: space-between;
}

.mat-mdc-standard-chip {
  border-radius: 5px;
}

.action-icon:hover {
  background-color: rgba(158, 158, 158, 0.2);
}

.action-icon:active {
  background-color: rgba(158, 158, 158, 0.4);
}


.action-icon {
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  margin: 0 2px;
  outline: none;
  padding: 6px;
  color: #A32A29;
}

.spacing {
  margin-top: 0;
}
