<mat-card>
  <div class="header">
    <div class="header-left">
      <div mat-card-avatar class="example-header-image"></div>
      <div class="header-user">
        <mat-card-title>Test User</mat-card-title>
        <mat-card-subtitle>Profile</mat-card-subtitle>
      </div>
    </div>

    <div class="header-right">
      <button mat-flat-button color="primary" (click)="logout()">
        Log Out
      </button>
    </div>
  </div>

  <mat-card-content>
    <mat-card-subtitle>Generate and manage API keys</mat-card-subtitle>
    <div class="genKey">
      <mat-form-field appearance="outline">
        <input
          matInput
          type="text"
          id="api-key"
          [(ngModel)]="apiKey"
          [disabled]="!apiKey"
          readonly
        />
        <mat-icon
          matSuffix
          matTooltip="Copy the key"
          (click)="copyApiKey()"
          [ngClass]="{ 'disabled-icon': !apiKey }"
          >content_copy</mat-icon
        >
      </mat-form-field>
      <button mat-flat-button color="accent" (click)="generateApiKey()">
        Generate API Key
      </button>
    </div>
  </mat-card-content>
</mat-card>

<!-- api key details -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- ApiName Column -->
  <ng-container matColumnDef="apiName">
    <th mat-header-cell *matHeaderCellDef>API</th>
    <td mat-cell *matCellDef="let element">{{ element.apiName }}</td>
  </ng-container>

  <!-- API Key Column -->
  <ng-container matColumnDef="apiKey">
    <th mat-header-cell *matHeaderCellDef>API Key</th>
    <td mat-cell *matCellDef="let element">{{ element.apiKey }}</td>
  </ng-container>

  <!-- Generated Date Column -->
  <ng-container matColumnDef="generatedDate">
    <th mat-header-cell *matHeaderCellDef>Generated Date</th>
    <td mat-cell *matCellDef="let element">
      {{ element.generatedDate | date : "short" }}
    </td>
  </ng-container>

  <!-- Revoked Column -->
  <ng-container matColumnDef="revoked">
    <th mat-header-cell *matHeaderCellDef>Revoked</th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="element.revoked; else notRevoked">Yes</span>
      <ng-template #notRevoked>No</ng-template>
    </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-button
        color="primary"
        *ngIf="!element.revoked"
        (click)="revokeApiKey(element)"
      >
        Revoke
      </button>
      <span *ngIf="element.revoked">Revoked</span>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
