@import '../../../../var';

mat-card {
  // background-color: $contrast-A100;
  margin-top: 85px;

  // mat-card-title {
  //   color: $contrast-400;
  // }

  // mat-card-subtitle {
  //   color: $contrast-800;
  // }

  .example-header-image {
    background-image: url('../../../../assets/user-image.jpg');
    background-size: cover;
  }

  mat-form-field {
    width: 32%;
    // color: $contrast-400;

    @media (max-width: 767px) {
      width: 100%;
    }
  }

  .disabled-icon {
    pointer-events: none;
    opacity: 0.5;
  }

  .genKey {
    display: flex;
    gap: 10px;
    align-items: baseline;

    @media (max-width: 767px) {
      display: block;
    }
  }

  button {

    @media (max-width: 767px) {
      width: 100%;
    }
  }

}

table {
  margin-top: 25px;
}
